<script setup>
import { ref } from 'vue';
import { defineProps } from 'vue';

const props = defineProps(['isLogin'])

const visible = ref(false);

const showModal = () => {
    visible.value = true;
};

const handleOk = (e) => {
    visible.value = false;
};

const title = props.isLogin ? 'login' : 'Signup'

</script>

<template>
    <div>
        <AButton type="primary" class="btn" @click="showModal">{{ title }}</AButton>
        <AModal v-model:visible="visible" :title="title" @ok="handleOk">
            <AInput class="input" v-if="!isLogin" v-model:value="value" placeholder="Username" />
            <AInput  class="input" v-model:value="value" placeholder="Email" />
            <AInput  class="input" v-model:value="value" placeholder="Password" />
        </AModal>
    </div>
</template>


<style scoped>
.btn{
    margin-left: 10px;
}

.input{
        margin-bottom: 6px;
}
</style>
