<script setup>
import {RouterLink, useRouter} from 'vue-router'
import Container from "./Container.vue"
import AuthModal from "./AuthModal.vue"

import {ref} from "vue"

const router = useRouter()

const searchUseName = ref("")

const isAuthenticated = ref(true)

const onSearch = () => {
    if (searchUseName) {
        router.push(`/profile/${searchUseName.value}`)
        searchUseName.value = ""
    }
}
</script>

<template>
    <main>
        <ALayoutHeader>
            <Container>
                <div class="nav-container">
                    <div class="left-content">
                        <RouterLink to="/">Instagram</RouterLink>
                        <AInputSearch
                            v-model:value="searchUseName"
                            placeholder="username..."
                            style="width: 200px"
                            @search="onSearch"
                        />
                    </div>
                     <div class="right-content" v-if="isAuthenticated">
                        <AuthModal :isLogin="false"/>
                        <AuthModal :isLogin="true"/>
                    </div>
                    <div class="right-content" v-else>
                        <AButton type="primary">Profile</AButton>
                        <AButton type="primary">Logout</AButton>
                    </div>
                </div>
            </Container>
        </ALayoutHeader>
    </main>
</template>

<style scoped>
.nav-container {
    display: flex;
    justify-content: space-between;
}
.left-content {
    display: flex;
    align-items: center;
}

.left-content a {
    margin-right: 10px;
}

.right-content {
    display: flex;
    align-items: center;
}

.right-content button {
    margin-left: 10px;
}
</style>
