<script setup>
import Container from "./Container.vue"
import UserBar from "./UserBar.vue"
import ImageGallery from "./ImageGallery.vue"

</script>

<template>
    <Container>
        <div class="profile-container">
            <UserBar
                username="JamesBiggy"
                :userInfo="{
                    posts: 4,
                    followers: 400,
                    following: 10007
                }"
            />
            <ImageGallery
                :posts="[
                    {
                        id: 1,
                        image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Jay-Z_%40_Shawn_%27Jay-Z%27_Carter_Foundation_Carnival_%28crop_2%29.jpg/220px-Jay-Z_%40_Shawn_%27Jay-Z%27_Carter_Foundation_Carnival_%28crop_2%29.jpg'
                    }
                ]"
            />
        </div>
    </Container>
</template>

<style scoped>
.profile-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
</style>