<script setup>
import Container from "./Container.vue"
import Card from "./Card.vue"

const data = [
    {
        id: 1,
        username: "Brian Kiptanui",
        url: "http://t3.gstatic.com/licensed-image?q=tbn:ANd9GcTLtYcdSxA7bqTWvvqn_mSJ5YDxdFuEG1ACFp_fyqk78foRVwUbt6hjEflO7gyqx4G_KOO3f53lfD34cYM",
        caption: "Dev"
    },    
    {
        id: 2,
        username: "James Bond",
        url: "http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcTc2fwNgl9EmbJkt_EBBbCLN7XYSuTUbYfvItdRK0TEnWByTmQe9daKautwOeUi07RtVjcvrrGZfAyYl_k",
        caption: "Actor"
    },    
    {
        id: 3,
        username: "Tiger Dennis",
        url: "https://hips.hearstapps.com/hmg-prod/images/gettyimages-134315104.jpg?resize=1200:*",
        caption: "Rapper"
    },    
    {
        id: 4,
        username: "Chris Rock",
        url: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1A0WwPnJ3bTh_RYjYvgqdTyjiCDksvyGAdrtj1L9jTQ&s",
        caption: "Singer"

    },
]

</script>

<template>
    <Container>
        <div class="timeline-container">
            <Card
             v-for="post in data" 
                :key="post.id" 
                :post="post"
            />
        </div>
    </Container>
</template>

<style scoped>
.timeline-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
</style>